<div class="sidebar-wrapper">
                <div class="title-group">
                    <span class="title">在线课堂</span>
                    <a class="more" href="#">更多</a>
                </div>
                <div class="advertise-group">
                    <div class="advertise">
                        <img src="https://static-fancube.xfz.cn/1558511894652/%E8%9A%82%E4%B8%8A%E5%88%9B%E4%B8%9A%E8%90%A5%20%E4%B8%BB%E8%A7%86%E8%A7%89.png-website.active.list" alt="">
                    </div>
                </div>
                <div class="platform-group">
                    <div class="title-group">
                        <span class="title">关注小饭桌</span>
                    </div>
                    <div class="focus-group">
                        <ul class="left-group" style="list-style: none">
                            <li class="zhihu"><a href="#" target="_blank" style="text-decoration: none">小饭桌创业课堂</a></li>
                            <li class="weibo"><a href="#" target="_blank" style="text-decoration: none">小饭桌创业课堂</a></li>
                            <li class="toutiao"><a href="#" target="_blank" style="text-decoration: none">小饭桌</a></li>
                        </ul>
                        <div class="right-group">
                            <p class="desc">扫码关注小饭桌微信公众平台xfz008</p>
                        </div>
                    </div>
                </div>
                <div class="hot-news-group">

                    <div class="title-group">
                        <span class="title">热门文章</span>
                    </div>
                    <div class="hot-list-group">
                        <ul style="list-style-type: none">
                            <li>
                                <div class="left-group">
                                    <p class="desc"><a href="#" style="text-decoration: none;">早报：Facebook计划推加密货币；苹果或2020年推5G手机；Uber首任CEO将离开董事会</a></p>
                                    <div class="more">
                                        <span class="category"><a href="#" style="text-decoration: none;">热点</a></span>
                                        <span class="pub-time">05月26日</span>
                                    </div>
                                </div>
                                <div class="right-group">
                                    <a href="#">
                                        <img src="https://static-image.xfz.cn/1558835405_409.jpeg-website.news.list" alt="">
                                    </a>
                                </div>
                            </li>
                            <li>
                                <div class="left-group">
                                    <p class="desc"><a href="http://localhost:3000/templates/news/news_detail.html" style="text-decoration: none;">早报：任正非：今年华为
                                        至少增长20%；Facebook删除22亿个虚假账户；喜茶打算做社交</a></p>
                                    <div class="more">
                                        <span class="category"><a href="#" style="text-decoration: none;">热点</a></span>
                                        <span class="pub-time">05月27日</span>
                                    </div>
                                </div>
                                <div class="right-group">
                                    <a href="#">
                                        <img src="https://static-image.xfz.cn/1558917934_943.jpg-website.news.list" alt="">
                                    </a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>