@import "../common/init.scss";

.main {
    width: 100%;
    margin-top: 80px;

    .course-nav {
    $courseNavHeight: 54px;
    width: 100%;
    height: $courseNavHeight;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.1);

    .nav-container {
      width: $pageWidth;
      height: $courseNavHeight;
      margin: 0 auto;
      line-height: $courseNavHeight;

      .title {
        float: left;
        color: #696969;
        font-size: 24px;
      }

      .nav-list {
        float: left;
        margin-left: 100px;

        li {
          float: left;
          margin-right: 50px;

          a {
            color: #888;
          }

          &.active {
            a {
              color: #212121;
            }
          }
        }
      }
    }
  }
}