{% extends 'base/front_base.html' %}

{% block title %}
    课程首页
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/course/courseindex.min.css' %}">
{% endblock %}

{% block main %}
    <div class="main">
        <div class="course-nav">
            <div class="nav-container">
                <h3 class="title">在线课堂</h3>
                <ul class="nav-list" style="list-style-type: none;">
                    <li class="active"><a  href="#" style="text-decoration: none">最新课堂</a></li>
                    <li><a href="#" style="text-decoration: none">投资人说</a></li>
                    <li><a href="#" style="text-decoration: none">明星案列</a></li>
                    <li><a href="#" style="text-decoration: none">创业知识</a></li>
                </ul>
            </div>
        </div>
        <div class="wrapper">
            <ul class="course-list" style="list-style: none;">
                {% for course in courses %}
                    <li>
                        <a href="{% url 'course:detail' course_id=course.pk %}" style="text-decoration: none">
                            <div class="thumbnail-group">
                                <img src="{{ course.cover_url }}" alt="">
                            </div>
                            <div class="course-info">
                                <p class="title">{{ course.title }}</p>
                                <p class="author">{{ course.taacher.username }}</p>
                                <p class="price-group">
                                    {% if course.price > 0 %}
                                        <span class="pay">￥{{ course.price }}</span>
                                        <button class="btn btn-xs btn-info">购买课程</button>
                                    {% else %}
                                        <span class="free">免费</span>
                                    {% endif %}
                                </p>
                            </div>
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}